.calDetailContain {
  /*전체 detail*/
  /* box-shadow: 0 0 5px #333; */
  font-family: "TheJamsil5Bold";
  font-size: 0.7rem;
  border: 1px solid gray;
  border-radius: 1rem;
  width: 95%;
  height: auto;
  margin: 70px auto 20px auto;
  /* justify-content: center; */
  justify-items: center;
  align-items: center;
  padding: 30px;
}
.calDetailDay {
  font-size: 2em;
  /*font*/
  color: #ffffff;
  font-size: 1.75em;
  font-weight: bold;
  /*상자*/
  background-color: #a581cf;
  padding: 4px 30px 4px 30px;
  border-radius: 15px;
}

.calDetailContent {
  /*버튼 빼고 content만*/
  /* border: 4px solid #000000; */
  justify-content: center;
  align-items: center;
}
.routinediary {
  /*루틴 인증*/
  /* border: 4px solid #be1616; */
}
.routineContent {
  /*루틴 이름*/
}
.img_txt {
  /*이미지 글 한 박스*/
  box-shadow: 0 0 5px #333;
  display: flex;
  padding-top: 40px;
  line-height: 20px;
  margin-bottom: 30px;
  margin-top: 30px;
  box-sizing: border-box;
  margin-left: 15px;
  margin-right: 15px;
  text-align: center;
}
.img {
  /*이미지 크기*/
  width: 200px;
  height: 200px;
  margin: 0px 10px 10px 10px;
}
.v_line {
  border-left: 4px solid rgba(0, 0, 0, 0.5);
  height: 200px;
  margin-right: 10px;
}
.content {
  /*루틴 인증 글*/
}
.calendardetail_btn {
  float: right;
}
.btn_back {
  font-family: "TheJamsil5Bold";
  background-color: white; /* 파란색 */
  color: #a581cf;
  border: #a581cf solid;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  padding: 3px 10px 3px 10px;
}
.btn_back:hover {
  background-color: #a581cf; /* 마우스 호버시 조금 더 진한 파란색 */
  color: white;
}

.nothingmsg {
  font-size: 1rem;
}
