.calDetailContain {
  /*전체 detail*/
  border: 4px solid #000000;
}

.calDetailContent {
  /*버튼 빼고 content만*/
  border: 4px solid #000000;
}
.routinediary {
  /*루틴 인증*/
  border: 4px solid #000000;
}
.routinename {
  /*루틴 이름*/
}
.img_txt {
  /*이미지 글 한 박스*/
  border: 4px solid #000000;
}
.img {
  /*이미지 크기*/
  width: 200px;
  height: 200px;
}
.txt {
  /*루틴 인증 글*/
}
