@font-face {
  font-family: "TheJamsil3Bold";
  font-weight: 400;
  font-style: normal;
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/TheJamsil/TheJamsil-Regular.eot");
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/TheJamsil/TheJamsil-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/TheJamsil/TheJamsil-Regular.woff2")
      format("woff2"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/TheJamsil/TheJamsil-Regular.woff")
      format("woff"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/TheJamsil/TheJamsil-Regular.ttf")
      format("truetype");
  font-display: swap;
}
.fc {
  font-family: "TheJamsil3Bold", "TheJamsil5Bold";
}

/*일요일 날짜 빨간색*/
.fc-day-sun a {
  color: #ff6767;
}
/* 토요일 날짜 파란색 */
.fc-day-sat a {
  color: #568ddf;
}
/*디데이*/
.fc-event {
  color: #a581cf !important;
}

.fc-event-time {
  display: none;
}

.fc-daygrid-event-dot {
  border: calc(var(--fc-daygrid-event-dot-width) / 2) solid #a581cf !important;
}

.fc-button-primary {
  background-color: rgba(250, 249, 252, 1) !important;
  border: #a581cf !important;
  color: black !important;
  border: none;
}
.fc-today-button {
  background-color: #ffcb6b !important;
}
.fc-h-event {
  background-color: #f9dd7c !important;
  border: #f9dd7c !important;
}
:root {
  --fc-event-text-color: black;
}
.fc-toolbar-title {
  /*제목*/
  background-color: rgba(250, 249, 252, 1) !important;
  border: #a581cf !important;
  padding: 5px 20px 5px 20px;
  border-radius: 15px;
  color: black;
  font-family: "TheJamsil4Bold";
}
/*스크롤바*/
*::-webkit-scrollbar {
  width: 16px;
}

*::-webkit-scrollbar-track {
  background: #ffffff;
}

*::-webkit-scrollbar-thumb {
  background-color: #bcadcd;
  border-radius: 10px;
  border: 3px solid #ffffff;
}
.tippy-box {
  background-color: #a581cf !important;
  color: white !important;
}
.tippy-box[data-placement^="top"] > .tippy-arrow:before {
  border-top-color: #a581cf !important;
}
