/*일요일 날짜 빨간색*/
.fc-day-sun a {
  color: #ff6767;
}
/* 토요일 날짜 파란색 */
.fc-day-sat a {
  color: #568ddf;
}
/*디데이*/
.fc-event {
  color: #c792ea !important;
}
.fc-daygrid-event-dot {
  border: calc(var(--fc-daygrid-event-dot-width) / 2) solid #c792ea !important;
}

.fc-button-primary {
  background-color: #c792ea !important;
  border: #c792ea !important;
}
/* .scrollbar {
  width: 250px;
  height: 250px;
  overflow-y: scroll;
} */
.fc-today-button {
  background-color: #ffcb6b !important;
}
.fc-h-event {
  background-color: #f9dd7c !important;
  border: #f9dd7c !important;
}
.fc-toolbar-title {
  /*제목*/
  background-color: #c792ea !important;
  border: #c792ea !important;
  padding: 5px 20px 5px 20px;
  border-radius: 15px;
}
/*스크롤바*/
*::-webkit-scrollbar {
  width: 16px;
}

*::-webkit-scrollbar-track {
  background: #ffffff;
}

*::-webkit-scrollbar-thumb {
  background-color: #bcadcd;
  border-radius: 10px;
  border: 3px solid #ffffff;
}
.tippy-box {
  background-color: #c792ea !important;
  color: white !important;
}
