@font-face {
  font-family: "TheJamsil5Bold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/TheJamsil5Bold.woff2")
    format("woff2");
  font-weight: 700;
  font-style: normal;
}

/*-----애니메이션-----*/
@keyframes jumpAnimation {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-30px); /* 이미지가 위로 20px 이동 */
  }
  100% {
    transform: translateY(0);
  }
}
/* 그림자*/
@keyframes scaleAnimation {
  0%,
  100% {
    transform: scale(1); /* 원래 크기 */
  }
  50% {
    transform: scale(0.5); /* 작아진 크기 */
  }
}

@keyframes fontColorAnimation {
  0% {
    color: rgba(0, 0, 0, 0.3);
  }
  50% {
    color: black;
  }
  100% {
    color: rgba(0, 0, 0, 0.3);
  }
}

/*-----Home-----*/
/* 컴포넌트에 폰트 적용 */

/* @media (min-width: 1250px) {
  .HomeMain {
    width: 1250px;
  }
}
@media (max-width: 1250px) {
  .HomeMain {
    width: 90vw;
  }
} */

.HomeMain {
  padding: 0 0 4em 0;
  font-family: "TheJamsil5Bold";
  margin: 0 auto;
  width: 100%;
  /* height: 1080px; */
  height: 100vh;
  user-select: none;
}

.Homecontainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

/* .Homedetail {
  min-height: 100vh;
  font-family: "TheJamsil5Bold", sans-serif;
  font-size: 16px;
} */

/* .HomeContent {
  width: 60%;
  height: 100vh;
  margin: auto;
} */

.HomeText {
  color: #353535;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: left;
  padding: 59px 0px 0px 84px;
}

.logo {
  position: absolute;
  right: 50px;
  top: 22px;
  width: 250px;
  height: 210px;
  flex-shrink: 0;
}

.HomeText p {
  font-family: "TheJamsil5Bold";
  margin: 5px;
}

/* 작심삼일 텍스트 */
.threedays {
  font-family: "TheJamsil5Bold";
  color: #a581cf;
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.calendersml {
  position: absolute;
  left: 73px;
  /* top: 436.01px; */
  top: 250px;
  display: flex;
  /* width: 7.79244rem; */
  /* height: 6.43369rem; */
  width: 100px;
  height: 80px;
  transform: rotate(-11.573deg);
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  animation: jumpAnimation 2s infinite;
}

.spr {
  position: absolute;
  left: 395px;
  top: 300px;
  width: 12.1875rem;
  height: 12.75rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  animation: jumpAnimation 5s infinite;
}

.music {
  position: absolute;
  left: 677px;
  top: 200px;
  width: 4.46063rem;
  height: 5.23644rem;
  transform: rotate(-20.295deg);
  flex-shrink: 0;
  animation: jumpAnimation 3s infinite;
}

.jumpchar {
  position: absolute;
  left: 698px;
  top: 280px;
  width: 22.89944rem;
  height: 25.2655rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  animation: jumpAnimation 4s infinite; /* 2초 간격으로 애니메이션 반복 */
}

/*그림자*/
.HomeOneEllipse {
  position: absolute;
  left: 768px;
  top: 600px;
  width: 100px;
  height: 50px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  animation: scaleAnimation 4s infinite;
}

.calenderlag {
  position: absolute;
  left: 900px;
  top: 31px;
  width: 250.975px;
  height: 207.213px;
  opacity: 0.5;
  transform: rotate(37.362deg);
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  animation: jumpAnimation 2s infinite;
}

.hide {
  background-color: pink;
  width: auto;
  height: 720px;
}
.memopad {
  position: absolute;
  right: 100px;
  top: 250px;
  width: 400px;
  height: 500px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

.HomeImg {
  display: flex;
  height: 400px;
}

.Homecirclebold {
  position: absolute;
  right: 30px;
  top: 830px;
  width: 34.68744rem;
  height: 36.15456rem;
  transform: rotate(-41.112deg);
  flex-shrink: 0;
  z-index: 0;
  animation: jumpAnimation 5s infinite;
}

.HomeBtn {
  display: flex;
  /* padding: 30px 0px 0px 0px; */
  margin-right: 50rem;
  width: 50rem;
  justify-content: space-around;
  z-index: 5;
  margin-left: 100px;
  margin-top: 70px;
}
.HomeBtnlog {
  display: flex;
  width: 22.5rem;
  height: 5.625rem;
  /* padding: 1rem 2rem; */
  /* flex-direction: column; */
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  border-radius: 0.25rem;
  border: 2px solid #fff;
  background: #ffd24c;
  box-shadow: -4px 4px 0px 0px #ffd24c;
  /*글자*/
  color: #fff;
  font-family: "TheJamsil5Bold";
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2rem; /* 100% */
  transition: all 250ms ease-in-out;
  cursor: pointer;
}

.firstHomeBtnLog {
  display: flex;
  width: 22.5rem;
  height: 5.625rem;
  /* padding: 1rem 2rem; */
  /* flex-direction: column; */
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  border-radius: 0.25rem;
  border: 2px solid #fff;
  background: #ffd24c;
  box-shadow: -4px 4px 0px 0px #ffd24c;
  /*글자*/
  color: #fff;
  font-family: "TheJamsil5Bold";
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2rem; /* 100% */
  transition: all 250ms ease-in-out;
  animation: fontColorAnimation 1.5s infinite;
  cursor: pointer;
}

.HomeBtnMove {
  display: flex;
  width: 22.5rem;
  height: 5.625rem;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;
  border: 2px solid #fff;
  background: #ffe69a;
  box-shadow: -4px 4px 0px 0px #ffe69a;
  z-index: 1;
  /*글자*/
  color: #fff;
  font-family: "TheJamsil5Bold";
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2rem; /* 100% */
  transition: all 250ms ease-in-out;
  cursor: pointer;
}

.firstHomeBtnMove {
  display: flex;
  width: 22.5rem;
  height: 5.625rem;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;
  border: 2px solid #fff;
  background: #ffe69a;
  box-shadow: -4px 4px 0px 0px #ffe69a;
  z-index: 1;
  /*글자*/
  color: #fff;
  font-family: "TheJamsil5Bold";
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2rem; /* 100% */
  /* transition: all 250ms ease-in-out; */
  animation: fontColorAnimation 1.5s infinite;
  cursor: pointer;
}

.firstHomeBtnMove {
  color: black;
}

.HomeBtnlog:hover {
  color: black;
}
.HomeBtnMove:hover {
  color: black;
}

.HomebtnloginLink {
  text-decoration: none;
}

.HomebtnMoveLink {
  text-decoration: none;
}

.progressBar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 10px;
  background: #a581cf;
  transform-origin: 0%;
  z-index: 10;
}
