@font-face {
  font-family: "TheJamsil5Bold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/TheJamsil5Bold.woff2")
    format("woff2");
  font-weight: 700;
  font-style: normal;
}

.container {
  font-family: "TheJamsil5Bold";
  background-color: white;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.leftside {
  flex: 7;
  width: 100%;

  padding: 72px 32px 16px 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logs {
  flex: 3;

  height: 90%;
  width: 100%;
}

.item {
  border: 1px solid black;
}
