@font-face {
  font-family: "TheJamsil5Bold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/TheJamsil5Bold.woff2")
    format("woff2");
  font-weight: 700;
  font-style: normal;
}

.container {
  font-family: "TheJamsil5Bold";
  background-color: white;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.leftside {
  flex: 7;
  width: 100%;
  height: 90%;
  padding: 72px 32px 16px 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 0px;
}

.leftsideRoomInfo {
  border-radius: 20px;
  background: rgba(165, 129, 207, 0.1);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  width: 95%;
  display: flex;
  justify-content: space-between;
  flex: 0.7;
}

.leftsideRoomInfoTitle {
  font-size: 50px;
  display: flex;
  align-items: center;
  margin-left: 30px;
}

.leftsideRoomInfoTime {
  font-size: 30px;
  display: flex;
  align-items: center;
  margin-right: 30px;
}

.divideline {
  flex: 0.3;
}

.leftsideRoomUsers {
  flex: 8;
  border-radius: 20px;
  background: rgba(165, 129, 207, 0.1);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  width: 95%;
}

.leftsideRoomBtnSection {
  flex: 0.7;
  border-radius: 20px;
  background: rgba(165, 129, 207, 0.1);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  width: 95%;
}

/* Right Side */
.logs {
  flex: 3;
  height: 90%;
  width: 100%;
}

.item {
  border: 1px solid black;
}

.leftsideRoomInfo {
  font-size: 100px;
}
