@font-face {
  font-family: "TheJamsil5Bold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/TheJamsil5Bold.woff2")
    format("woff2");
  font-weight: 700;
  font-style: normal;
}

.container {
  font-family: "TheJamsil5Bold";
  background-color: #a581cf60;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.leftside {
  flex: 7;
  width: 100%;
  height: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 0px;
  user-select: none;
}

.leftsideRoomInfo {
  border-radius: 12px;
  /* background: rgba(165, 129, 207, 0.1); */
  background: rgb(244, 241, 250);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  width: 95%;
  display: flex;
  justify-content: space-between;
  flex: 0.7;
}

.leftsideRoomInfoTitle {
  font-size: 24px;
  display: flex;
  align-items: center;
  margin-left: 30px;
}

.leftsideRoomInfoTime {
  font-size: 16px;
  display: flex;
  align-items: center;
  margin-right: 30px;
}

.divideline {
  flex: 0.3;
}

.leftsideRoomUsers {
  flex: 8;
  border-radius: 12px;
  /* background: rgba(165, 129, 207, 0.1); */
  background: rgb(244, 241, 250);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  width: 95%;
}

.leftsideRoomBtnSection {
  flex: 0.7;
  border-radius: 12px;
  /* background: rgba(165, 129, 207, 0.1); */
  background: rgb(244, 241, 250);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  width: 95%;
}

/* Button section */

.leftsideRoomBtnSection {
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  user-select: none;
}

.secondBtnSec,
.firstBtnSec {
  display: flex;
  justify-content: space-evenly;
}

.BtnInside {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.videoOff {
  font-family: "TheJamsil5Bold";
  font-size: 12px;
  width: 190px;
  height: 70px;
  border-radius: 12px;
  background-color: #5cb85c;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border: 1px solid rgba(131, 129, 129, 0.2);
}

.videoOn {
  font-family: "TheJamsil5Bold";
  font-size: 12px;
  width: 190px;
  height: 70px;
  border-radius: 12px;
  background-color: #d9534f;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border: 1px solid rgba(131, 129, 129, 0.2);
}

.videoOn:hover,
.videoOff:hover {
  cursor: pointer;
}

.micOff {
  font-family: "TheJamsil5Bold";
  font-size: 12px;
  width: 190px;
  height: 70px;
  border-radius: 12px;
  background-color: #5cb85c;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border: 1px solid rgba(131, 129, 129, 0.2);
}

.micOn {
  font-family: "TheJamsil5Bold";
  font-size: 12px;
  width: 190px;
  height: 70px;
  border-radius: 12px;
  background-color: #d9534f;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border: 1px solid rgba(131, 129, 129, 0.2);
}

.questionBtn:hover,
.leaveBtn:hover,
.micOn:hover,
.micOff:hover {
  cursor: pointer;
}

.leaveBtn {
  font-family: "TheJamsil5Bold";
  font-size: 12px;
  width: 190px;
  height: 70px;
  border-radius: 12px;
  background-color: #d9534f;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border: 1px solid rgba(131, 129, 129, 0.2);
}

.questionBtn {
  font-family: "TheJamsil5Bold";
  font-size: 12px;
  width: 190px;
  height: 70px;
  border-radius: 12px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border: 1px solid rgba(131, 129, 129, 0.2);
}

/* Right Side */
.logs {
  flex: 3;
  height: 90%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.item {
  border: 1px solid black;
}

.leftsideRoomInfo {
  font-size: 100px;
}

/* User Stream */

.userCameraZone {
  display: flex;
  flex-wrap: wrap;

  justify-content: space-evenly;
}

.publisher {
  width: 292px;
}

.subscribers {
  margin: 0px;
}
