@font-face {
  font-family: "TheJamsil5Bold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/TheJamsil5Bold.woff2")
    format("woff2");
  font-weight: 700;
  font-style: normal;
}

.content {
  display: flex;
  flex-direction: column;
  flex: ;
  width: 100%;
  background: rgb(244, 241, 250);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 12px;
  padding-bottom: 30px;
}

.login {
  height: 100vh;
  display: flex;
  align-items: center;
  background-color: #a581cf46;
  border-radius: 12px;

}

.LoginText {
  margin-top: -30px;
  display: flex;
  flex-direction: column;
  width: 90%;
}
.MainText {
  color: #000;
  font-family: "TheJamsil3Bold";
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-left: 78px;
  text-align: start;
}

.MainText:nth-child(1) {
  /* color: #000;
  font-family: The Jamsil OTF; */
  font-size: 5vh;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.MainText:nth-child(2) {
  margin-top: 1px;
}
.MainText:nth-child(3) {
  margin-top: -15px;
}

.logo {
  width: 25vh;
}

.btn {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.naverSection,
.kakaoSection {
  display: flex;
  justify-content: center;
  cursor: pointer;
  font-family: "TheJamsil4Bold";
  font-size: 12px;
  color: gray;
}

.kakao {
  width: 35vh;
  margin-bottom: 5px;
  margin-top: 3vh;
}

.naver {
  width: 35vh;
}

.rightContent {
  display: flex;
  flex: 5.5;
  justify-content: center;
}

.rightImg {
  width: 100%;
  height: 100vh;
}
.leftlogo {
  text-align: center;
}

.none {
  flex: 0.5;
}
