.HomeLast {
  font-family: TheJamsil5Bold;
  position: relative;
  text-align: center;
}

.HomeLastText {
  color: #181818;
  font-size: 64px;
  font-weight: 400;
  line-height: normal;
  position: absolute;
  top: 7%;
  left: 30%;
  z-index: 1;
}

.mountain {
  position: relative;
  margin-top: 20rem;
}

.mountainman {
  width: 569px;
  height: 1012px;
  position: absolute;
  left: 57%;
}
