@font-face {
  font-family: "TheJamsil5Bold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/TheJamsil5Bold.woff2")
    format("woff2");
  font-weight: 700;
  font-style: normal;
}

.WidgetGoals {
  font-family: "TheJamsil5Bold";
  /* padding: 1rem;
  margin: 2rem 1rem; */
  width: auto;
  height: auto;
}

.goalTitle {
  /*font*/
  font-family: "TheJamsil5Bold";
  font-weight: bold;
  color: #ffffff;
  font-size: 1.5rem;
  /*상자*/
  background-color: #a581cf;
  padding: 2px 30px 2px 30px;
  border-radius: 12px;
}
.goalAllSection {
  /*조회&수정 + 등록하는 input창*/
  height: auto;
}
.goalListSection {
  /*조회, 수정되는 전체 부분 */
  display: flex;
  height: 147px;

  /* justify-content: space-around;
  align-items: center;
  height: 10rem; */
}
.goalRegistInputStyle {
  /*하단의 등록하는 input창 부분 전체 */
  height: 54px;
}
.widgetInputStyle {
  font-family: "TheJamsil5Bold";
  display: flex;
  justify-content: end;
  margin: 0 1rem;
}

.inputstyle {
  font-family: "TheJamsil5Bold";
  font-size: 0.7rem;
  color: #222222;
  width: 90%;
  border: none;
  border-bottom: solid #aaaaaa 1px;
  padding-bottom: 10px;
  padding-left: 10px;
  background: none;
  display: flex;
  align-self: center;
  outline: none;
}

.inputBtn::after {
  content: attr(data-text);
}
.inputBtn {
  font-family: "TheJamsil5Bold";
  width: 7rem;
  height: 2rem;
  position: relative;
  display: inline-block;
  font-size: 0.7rem;
  margin: 0.7rem;
  border-radius: 6px;
  background-color: white;
  border: 1px solid rgba(131, 129, 129, 0.851);
}

.inputBtn:active {
  top: 9px;
}

.moveButtonStyle {
  border: 0;
  background-color: transparent;
}

.editButtonStyle {
  border: 0;
  background-color: transparent;
}

.selectBoxStyle {
  font-family: "TheJamsil5Bold";
  height: 1.5rem;
  border-radius: 4px;
  outline: 0 none;
  margin: auto 0.3rem auto 0.3rem;
  border: 1px solid rgba(131, 129, 129, 0.851);
  /* color: #a581cf; */
}

.goalList {
  /*매일, 매주, 매년을 묶은 큰 리스트*/
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 10px;
}
.goalContainer {
  /*매일, 매주, 매년 각각의 컨테이너*/
  width: 100%;
  /* border-left: 1px solid black; */
  /* border-radius: 5px; */
}

.goalSemitTitleLocation {
  text-align: center;
}
.goalSemitTitle {
  /*매일, 매주, 매년 텍스트*/
  margin: 0;
  font-size: 1.2rem;
  border-bottom: 3px solid #a581cf;
}
.goalContentPage {
  /* height: 100%; */
}
.goalOneItemContainer {
  /*조회 + 수정 크게 묶어놓음*/
}
.goalOnlyItemBox {
  /* 페이지네이션 없이 데이터만 나오는 부분 */
  height: 70px;
}
.goalOneItemGet {
  /* 조회 목표 content + 수정, 삭제 버튼*/
  display: flex;
  padding-top: 10px;
}
.goalOneItemGetContent {
  width: 75%;
  font-family: "TheJamsil4Bold";
}
.goalPageBtn {
  /*페이지네이션 버튼*/
  font-family: "TheJamsil5Bold";
  position: relative;
  display: inline-block;
  font-size: 0.7rem;
  border-radius: 6px;
  background-color: white;
  border: 1px solid rgba(131, 129, 129, 0.851);
}
.goalPageBtnNot {
  font-family: "TheJamsil5Bold";
  position: relative;
  display: inline-block;
  font-size: 0.7rem;
  border-radius: 6px;
  background-color: white;
  border: 1px solid rgba(131, 129, 129, 0.851);
}
.goalPageBtnActive {
  background-color: #a581cf;
  color: white;
  border: #a581cf solid;
  border-radius: 6px;
}
.goalPageBtn:hover {
  background-color: #a581cf; /* 마우스 호버시 조금 더 진한 파란색 */
  color: white;
}
.goalNothingTextLocation {
  /*아무것도 없을 때 안내 메세지 높이*/
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.goalNothingText {
  /*아무것도 없을 때 안내 메세지*/
  font-size: 1rem;
  text-align: center;
}
.goalItemText {
  display: flex;
  font-size: 1rem;
  text-align: left;
  /* width: 45rem; */
}

.editSectionStyle {
  display: flex;
  width: 90%;
}

.inputBtnMini {
  font-family: "TheJamsil5Bold";
  width: 5rem;
  height: 1rem;
  position: relative;
  display: inline-block;
  font-size: 0.7rem;
  margin-left: 0.3rem;
  border-radius: 6px;
  background-color: white; /* 파란색 */
  border: 1px solid rgba(131, 129, 129, 0.851);
  cursor: pointer;
}
.inputBtnMini:hover {
  background-color: #a581cf; /* 마우스 호버시 조금 더 진한 파란색 */
  color: white;
}
.editInputStyle {
  font-family: "TheJamsil5Bold";
  font-size: 0.7rem;
  color: #222222;
  width: 100%;
  border: none;
  border-bottom: solid #aaaaaa 1px;
  padding-bottom: 0.2rem;
  padding-left: 0.2rem;
  background: none;
  display: flex;
  align-self: center;
  outline: none;
}
.goalPurpleNothingText {
  color: #a581cf;
}
