.WidgetDday {
  border: 4px solid;
}
.WidgetDday_name {
}
.routinediary {
  display: flex;
}
.WidgetDday_content {
  box-shadow: 0 0 5px #333;
  display: flex;
  border: 4px solid;
}
.WidgetDday_text {
  border: 4px solid;
}
.WidgetDday_edit {
  border: 4px solid;
}
.WidgetDday_txt {
}
.btn_edit_delete {
  display: flex;
}
