@font-face {
  font-family: "TheJamsil5Bold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/TheJamsil5Bold.woff2")
    format("woff2");
  font-weight: 700;
  font-style: normal;
}

.WidgetDiary {
  width: auto;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.diaryTitleSection {
  flex: 1.5;
  width: 12%;
}

.diaryTitle {
  font-family: "TheJamsil3Bold";
  color: white;
  font-size: 1.1rem;
  background-color: #a581cfc3;
  margin: 8px 0px 0px 8px;
  padding: 6px 4px 6px 10px;
  border-radius: 8px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border: 1px solid rgba(131, 129, 129, 0.2);
}

.wishDiaryEditButtonStyle {
  /*수정 삭제 버튼*/
  border: 0;
  background-color: transparent;
  cursor: pointer;
}

.widgetInputStyle {
  font-family: "TheJamsil5Bold";
  display: flex;
}

.inputstyle {
  /*한 줄 일기 수정 input*/
  font-family: "TheJamsil5Bold";
  font-size: 0.7rem;
  color: #222222;
  width: 80%;

  border-bottom: solid #aaaaaa 1px;
  border-radius: 5px;
  padding: 8px 12px;
  background: none;
  display: flex;
  align-self: center;
  outline: none;
  flex: 8;
  background: rgba(250, 249, 252, 1);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border: 1px solid rgba(131, 129, 129, 0.2);
}
.widgetBigInputStyle {
  /*처음 한 줄 일기 작성*/
  width: 76%;
  display: flex;
  outline: none;
  margin: auto;
}

.inputBtn::after {
  content: attr(data-text);
}
.inputBtn {
  font-family: "TheJamsil5Bold";
  width: 7rem;
  height: 2rem;
  position: relative;
  display: inline-block;
  font-size: 0.7rem;
  margin: 0.7rem;
  border-radius: 6px;
  /* text-shadow: 0 2px 0 rgba(0, 0, 0, 0.15); */
}

.inputBtn:active {
  top: 9px;
}

.wishDiaryEditInputStyle {
  display: flex;
  margin-bottom: 10px;
  width: 85%;
  margin: auto;
}
.wishDiaryinputBtnMiniStyle {
  display: flex;
}
/* .wishDiaryinputBtnMini::after {
  content: attr(data-text);
} */

.wishDiaryinputBtnMini {
  font-family: "TheJamsil5Bold";
  width: 3rem;
  height: 1rem;
  position: relative;
  display: inline-block;
  font-size: 0.7rem;
  margin-left: 0.7rem;
  border-radius: 6px;
  background-color: white; /* 파란색 */
  border: 1px solid rgba(131, 129, 129, 0.851);
  cursor: pointer;
  background: rgba(250, 249, 252, 1);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border: 1px solid rgba(131, 129, 129, 0.615);
  /* text-shadow: 0 2px 0 rgba(0, 0, 0, 0.15); */
  height: 30px;
}
.wishDiaryinputBtnMini:hover {
  background-color: #a581cf; /* 마우스 호버시 조금 더 진한 파란색 */
  color: white;
  height: 30px;
}

.inputBtnMini:active {
  top: 9px;
}

.wishDiaryPaginationBtn {
  /*페이지네이션 화살표*/
  background-color: rgb(0, 0, 0, 0);
  border: none;
  cursor: pointer;
}
.wishDiaryNothing {
  /* border: solid black; */
  width: 100%;
  text-align: center;
}
.wishDiaryBody {
}
.wishDiaryContent {
  display: flex;
  margin: 15px 15px 0px 15px;
  align-items: center;
  height: 19vh;
}

.wishDiaryContentTxt {
  /*다이어리 + 수정 + 삭제 버튼*/
  margin: auto;
  margin-top: 10px;
  width: 85%;
  /*실제 글 내용*/
  display: flex;
  font-family: "TheJamsil3Bold";
}

.wishDiaryinputBtn {
  font-family: "TheJamsil5Bold";
  width: 7rem;
  height: 2rem;
  position: relative;
  display: inline-block;
  font-size: 0.7rem;
  margin: 0.7rem;
  background-color: white; /* 파란색 */
  border: 1px solid rgba(131, 129, 129, 0.851);
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  padding: 3px 10px 3px 10px;
  background: rgba(250, 249, 252, 1);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border: 1px solid rgba(131, 129, 129, 0.615);
}
.wishDiaryinputBtn:hover {
  background-color: #a581cf; /* 마우스 호버시 조금 더 진한 파란색 */
  color: white;
}
.wishDiaryReal {
}
.wishDiaryTxt {
  margin: 0px;
}
.wishDiaryCenter {
  margin-left: 10px;
  width: 100%;
}
.wishDiaryTxtt {
  text-align: left;
  width: 90%;
}
