@font-face {
  font-family: "TheJamsil5Bold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/TheJamsil5Bold.woff2")
    format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "TheJamsil4Bold";
  font-weight: 400;
  font-style: normal;
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/TheJamsil/TheJamsil-Regular.eot");
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/TheJamsil/TheJamsil-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/TheJamsil/TheJamsil-Regular.woff2")
      format("woff2"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/TheJamsil/TheJamsil-Regular.woff")
      format("woff"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/TheJamsil/TheJamsil-Regular.ttf")
      format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "TheJamsil3Bold";
  font-weight: 300;
  font-style: normal;
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/TheJamsil/TheJamsil-Light.eot");
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/TheJamsil/TheJamsil-Light.eot?#iefix")
      format("embedded-opentype"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/TheJamsil/TheJamsil-Light.woff2")
      format("woff2"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/TheJamsil/TheJamsil-Light.woff")
      format("woff"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/TheJamsil/TheJamsil-Light.ttf")
      format("truetype");
  font-display: swap;
}

.WidgetComments {
  font-family: "TheJamsil5Bold";
  padding: 1rem;
}

.CommentSectionMain {
  display: flex;
  justify-content: center;
}

.CommentSection {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.WidgetCommentsTitle {
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 1rem;
}
.commentPostIt {
  border: 1px solid #aaaaaa;
  width: 8rem;
  height: 8rem;
  margin: 1rem;

  background-color: #fff8e1;
  padding: 1rem;
  border: 1px solid #ccc;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  transform: rotate(-3deg);

  position: relative;
}

.commentPostIt::before {
}

.postContent {
  font-size: 0.8rem;
  height: 55%;
  margin-top: 0.1rem;
  font-family: "TheJamsil4Bold";
  display: flex;
  flex-wrap: wrap;
}

.postnickName {
  font-size: 0.3rem;
  text-align: right;
}

.postDate {
  font-size: 0.1rem;
  text-align: right;
}

.moveButtonStyle {
  border: 0;
  background-color: transparent;
  cursor: pointer;
}

.editButtonStyle {
  border: 0;
  background-color: transparent;
  position: absolute;
  right: -3px;
  cursor: pointer;
}

.editinputstyle {
  font-family: "TheJamsil5Bold";
  font-size: 0.7rem;
  color: #222222;
  width: 7rem;
  height: 6rem;
  white-space: normal;
  word-wrap: break-word;
  border: none;
  border-bottom: solid #aaaaaa 1px;
  /* padding-bottom: 10px;
  padding-left: 10px; */
  background: none;
  resize: none;
}

.deleteButtonStyle {
  border: 0;
  background-color: transparent;
  position: absolute;
  right: -2px;
  top: -0.7px;
  cursor: pointer;
}

.widgetInputStyle {
  font-family: "TheJamsil5Bold";
  display: flex;
  width: 85%;
  margin: auto;
}

.inputstyle {
  font-family: "TheJamsil5Bold";
  font-size: 0.7rem;
  color: #222222;
  width: 100%;
  margin: auto;
  padding: 8px 12px;
  background: none;
  display: flex;
  align-self: center;
  outline: none;
  border-radius: 5px;
  background: rgba(250, 249, 252, 1);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border: 1px solid rgba(131, 129, 129, 0.2);
}

.commentInputBtn {
  font-family: "TheJamsil5Bold";
  width: 7rem;
  height: 2rem;
  position: relative;
  display: inline-block;
  font-size: 0.7rem;
  margin: 0.7rem;
  background-color: white; /* 파란색 */
  border: 1px solid rgba(131, 129, 129, 0.851);
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  padding: 3px 10px 3px 10px;
  cursor: pointer;
  background: rgba(250, 249, 252, 1);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border: 1px solid rgba(131, 129, 129, 0.2);
}
.commentInputBtn:hover {
  background-color: #a581cf; /* 마우스 호버시 조금 더 진한 파란색 */
  color: white;
}

inputstyle::placeholder {
  color: #aaaaaa;
}
inputstyle:focus {
  outline: none;
}

.commentInputBtnMini {
  font-family: "TheJamsil5Bold";
  width: 3rem;
  height: 1rem;
  position: relative;
  display: inline-block;
  font-size: 0.7rem;
  margin-left: 0.7rem;
  border-radius: 6px;
  background-color: white; /* 파란색 */
  border: 1px solid rgba(131, 129, 129, 0.851);
  cursor: pointer;
}
.commentInputBtnMini:hover {
  background-color: #a581cf; /* 마우스 호버시 조금 더 진한 파란색 */
  color: white;
}

.inputBtnArea {
  display: flex;
  justify-content: flex-end;
}
