@font-face {
  font-family: "TheJamsil5Bold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/TheJamsil5Bold.woff2")
    format("woff2");
  font-weight: 700;
  font-style: normal;
}

.WidgetGallery {
  width: auto;
  height: auto;
}
.WidgetDday_name {
  /*font*/
  font-family: "The Jamsil OTF";
  font-weight: bold;
  color: #ffffff;
  font-size: 1.5em;
  /*상자*/
  background-color: #a581cf;
  padding: 2px 30px 2px 30px;
  border-radius: 12px;
}
.WidgetContent {
  /* border: 1px solid black; */
  display: flex;
}
.WidgetContentTxt {
  margin: 0 auto;
}

.galleryIgmItem {
  margin: 0.4rem 0rem 0rem 0.4rem;
}
.galleryIgm {
  width: 4.5rem;
  height: 4.5rem;
  object-fit: cover;
  border-radius: 10px;
}
