@font-face {
  font-family: "TheJamsil5Bold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/TheJamsil5Bold.woff2")
    format("woff2");
  font-weight: 700;
  font-style: normal;
}

.WidgetComments {
  font-family: "TheJamsil5Bold";
  padding: 1rem;
  margin: 2rem 1rem;
}
.CommentSection {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.WidgetCommentsTitle {
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 1rem;
}
.commentPostIt {
  border: 1px solid #aaaaaa;
  width: 8rem;
  height: 8rem;
  margin: 1rem;

  background-color: #fff8e1;
  padding: 1rem;
  border: 1px solid #ccc;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  transform: rotate(-3deg);

  position: relative;
}

.commentPostIt::before {
}

.postContent {
  font-size: 0.8rem;
  height: 55%;
  margin-top: 0.1rem;
}

.postnickName {
  font-size: 0.3rem;
  text-align: right;
}

.postDate {
  font-size: 0.1rem;
  text-align: right;
}

.moveButtonStyle {
  border: 0;
  background-color: transparent;
}

.editButtonStyle {
  border: 0;
  background-color: transparent;
  position: absolute;
  right: -3px;
}

.editinputstyle {
  font-family: "TheJamsil5Bold";
  font-size: 0.7rem;
  color: #222222;
  width: 7rem;
  height: 6rem;
  white-space: normal;
  word-wrap: break-word;
  border: none;
  border-bottom: solid #aaaaaa 1px;
  /* padding-bottom: 10px;
  padding-left: 10px; */
  background: none;
}

.deleteButtonStyle {
  border: 0;
  background-color: transparent;
  position: absolute;
  right: -2px;
  top: -0.7px;
}

.widgetInputStyle {
  font-family: "TheJamsil5Bold";
  display: flex;
}

.inputstyle {
  font-family: "TheJamsil5Bold";
  font-size: 0.7rem;
  color: #222222;
  width: 90%;
  border: none;
  border-bottom: solid #aaaaaa 1px;
  padding-bottom: 10px;
  padding-left: 10px;
  background: none;
  display: flex;
  align-self: center;
}

.inputBtn::after {
  content: attr(data-text);
}
.inputBtn {
  font-family: "TheJamsil5Bold";
  width: 7rem;
  height: 2rem;
  position: relative;
  display: inline-block;
  font-size: 0.7rem;
  margin: 0.7rem;
  border-radius: 6px;
  /* text-shadow: 0 2px 0 rgba(0, 0, 0, 0.15); */
}

.inputBtn:active {
  top: 9px;
}

inputstyle::placeholder {
  color: #aaaaaa;
}
inputstyle:focus {
  outline: none;
}

.inputBtnMini::after {
  content: attr(data-text);
}
.inputBtnMini {
  font-family: "TheJamsil5Bold";
  background-color: white; /* 파란색 */
  color: #a581cf;
  border: #a581cf solid;
  width: 3rem;
  height: 1.5rem;
  font-size: 0.5rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  padding: 3px 10px 3px 10px;
  /* text-shadow: 0 2px 0 rgba(0, 0, 0, 0.15); */
}

.inputBtnMini:active {
  top: 9px;
}

.inputBtnArea {
  display: flex;
  justify-content: flex-end;
}
