@font-face {
  font-family: "TheJamsil5Bold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/TheJamsil5Bold.woff2")
    format("woff2");
  font-weight: 700;
  font-style: normal;
}
.WidgetBucket_ {
  width: auto;
  height: auto;
}
.bucketTitle {
  /*font*/
  font-family: "The Jamsil OTF";
  font-weight: bold;
  color: #ffffff;
  font-size: 1.5em;
  /*상자*/
  background-color: #a581cf;
  padding: 2px 30px 2px 30px;
  border-radius: 12px;
}
.WidgetBucket {
  /* font-family: "TheJamsil5Bold";
  box-shadow: 0 0 5px #333;
  border-radius: 10px;
  padding: 1rem;
  margin: 2rem 1rem; */
}

.editButtonSection {
  display: flex;
  flex-direction: row;
}

.editButtonStyle {
  border: 0;
  background-color: transparent;
}

.bucketSection {
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
  align-items: center;
  height: 17vh;
  margin-left: 10px;
}

.bucketListSection {
  display: flex;
  flex-direction: row;
}

.bucketItem {
  display: flex;
  width: 45rem;
  font-size: 1rem;
  text-align: left;
  margin: 0.3rem;
}

.moveButtonStyle {
  border: 0;
  background-color: transparent;
}

.editButtonStyle {
  border: 0;
  background-color: transparent;
}

.widgetInputStyle {
  font-family: "TheJamsil5Bold";
  display: flex;
  outline: none;
}

.inputstyle {
  font-family: "TheJamsil5Bold";
  font-size: 0.7rem;
  color: #222222;
  width: 80%;
  border: none;
  border-bottom: solid #aaaaaa 1px;
  padding-bottom: 10px;
  padding-left: 10px;
  margin-left: 20px;
  background: none;
  display: flex;
  align-self: center;
  outline: none;
}
.inputstyle_ {
  font-family: "TheJamsil5Bold";
  font-size: 0.7rem;
  color: #222222;
  width: 80%;
  border: none;
  border-bottom: solid #aaaaaa 1px;
  padding-bottom: 10px;
  padding-left: 10px;
  background: none;
  display: flex;
  align-self: center;
  outline: none;
}

.inputBtn::after {
  content: attr(data-text);
}
.inputBtn {
  font-family: "TheJamsil5Bold";
  width: 7rem;
  height: 2rem;
  position: relative;
  display: inline-block;
  font-size: 0.7rem;
  margin: 0.7rem;
  background-color: white; /* 파란색 */
  color: #a581cf;
  border: #a581cf solid;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  padding: 3px 10px 3px 10px;
}

.inputBtn:active {
  top: 9px;
}

inputstyle::placeholder {
  color: #aaaaaa;
}
inputstyle:focus {
  outline: none;
}
.bucketListBtnStyle {
  display: flex;
}
.bucketListBtn {
  font-family: "TheJamsil5Bold";
  width: 3rem;
  height: 1rem;
  position: relative;
  display: inline-block;
  font-size: 0.7rem;
  margin-left: 0.7rem;
  border-radius: 6px;
  background-color: white; /* 파란색 */
  color: #a581cf;
  border: #a581cf solid;
  cursor: pointer;
}

.bucketListBtn:hover {
  background-color: #a581cf; /* 마우스 호버시 조금 더 진한 파란색 */
  color: white;
}
.bucketListInputBtn {
  display: flex;
  margin-bottom: 10px;
  width: 110vh;
}
