@font-face {
  font-family: "TheJamsil5Bold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/TheJamsil5Bold.woff2")
    format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "TheJamsil4Bold";
  font-weight: 400;
  font-style: normal;
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/TheJamsil/TheJamsil-Regular.eot");
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/TheJamsil/TheJamsil-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/TheJamsil/TheJamsil-Regular.woff2")
      format("woff2"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/TheJamsil/TheJamsil-Regular.woff")
      format("woff"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/TheJamsil/TheJamsil-Regular.ttf")
      format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "TheJamsil3Bold";
  font-weight: 300;
  font-style: normal;
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/TheJamsil/TheJamsil-Light.eot");
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/TheJamsil/TheJamsil-Light.eot?#iefix")
      format("embedded-opentype"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/TheJamsil/TheJamsil-Light.woff2")
      format("woff2"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/TheJamsil/TheJamsil-Light.woff")
      format("woff"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/TheJamsil/TheJamsil-Light.ttf")
      format("truetype");
  font-display: swap;
}
.WidgetBucket_ {
  width: auto;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.bucketTitleSection {
  flex: 1.5;
  width: 12%;
}

.bucketTitle {
  font-family: "TheJamsil3Bold";
  color: white;
  font-size: 1.1rem;
  background-color: #a581cfc3;
  margin: 8px 0px 0px 8px;
  padding: 6px 4px 6px 10px;
  border-radius: 8px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border: 1px solid rgba(131, 129, 129, 0.2);
}

.WidgetBucket {
  display: flex;
  border-radius: 10px;
  flex: 8.5;
  justify-content: center;
}

.editButtonSection {
  display: flex;
  flex-direction: row;
}

.editButtonStyle {
  border: 0;
  background-color: transparent;
  cursor: pointer;
}

.bucketSection {
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
  align-items: center;
  height: 17vh;
  margin-left: 10px;
}

.bucketListSection {
  display: flex;
  flex-direction: row;
  margin: 0px 20px;
}

.bucketItem {
  display: flex;
  width: 43rem;
  font-size: 1rem;
  text-align: left;
  margin: 0.3rem;
  margin-bottom: 10px;
}

.moveButtonStyle {
  border: 0;
  background-color: transparent;
  cursor: pointer;
}

.editButtonStyle {
  border: 0;
  background-color: transparent;
  cursor: pointer;
}

.widgetInputStyle {
  font-family: "TheJamsil5Bold";
  display: flex;
  outline: none;
  width: 85%;
  margin: auto;
}

.inputstyle {
  font-family: "TheJamsil5Bold";
  font-size: 0.7rem;
  color: #222222;
  width: 80%;
  border: none;
  border-bottom: solid #aaaaaa 1px;
  padding: 8px 12px;
  background: none;
  display: flex;
  align-self: center;
  outline: none;
  border-radius: 5px;
  flex: 8;
  background: rgba(250, 249, 252, 1);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border: 1px solid rgba(131, 129, 129, 0.2);
}
.inputstyle_ {
  font-family: "TheJamsil5Bold";
  font-size: 0.7rem;
  color: #222222;
  width: 80%;
  border: none;
  border-bottom: solid #aaaaaa 1px;
  padding: 8px;
  background: none;
  display: flex;
  align-self: center;
  outline: none;
  border-radius: 5px;
  flex: 8;
  background: rgba(250, 249, 252, 1);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border: 1px solid rgba(131, 129, 129, 0.2);
}

.inputBtn {
  font-family: "TheJamsil5Bold";
  width: 7rem;
  height: 2rem;
  position: relative;
  display: inline-block;
  font-size: 0.7rem;
  margin: 0.7rem;
  background-color: white; /* 파란색 */
  border: 1px solid rgba(131, 129, 129, 0.851);
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  padding: 3px 10px 3px 10px;
  background: rgba(250, 249, 252, 1);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border: 1px solid rgba(131, 129, 129, 0.615);
}
.inputBtn:hover {
  background-color: #a581cf; /* 마우스 호버시 조금 더 진한 파란색 */
  color: white;
}

inputstyle::placeholder {
  color: #aaaaaa;
}
inputstyle:focus {
  outline: none;
}
.bucketListBtnStyle {
  display: flex;
}
.bucketListBtn {
  font-family: "TheJamsil5Bold";
  width: 3rem;
  height: 1rem;
  position: relative;
  display: inline-block;
  font-size: 0.7rem;
  margin-left: 0.7rem;
  border-radius: 6px;
  background-color: white; /* 파란색 */
  border: 1px solid rgba(131, 129, 129, 0.851);
  cursor: pointer;
  background: rgba(250, 249, 252, 1);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border: 1px solid rgba(131, 129, 129, 0.615);

  height: 30px;
}

.bucketListBtn:hover {
  background-color: #a581cf; /* 마우스 호버시 조금 더 진한 파란색 */
  color: white;
}
.bucketListInputBtn {
  display: flex;
  margin-bottom: 10px;
  margin: auto;
  width: 90vh;
}
.bucketListNoting {
  width: 50rem;
  display: flex;
  justify-content: center;
}
.checkedItem {
  text-decoration: line-through;
  color: #aaa;
}
.bucketItemContainer {
  display: flex;

  font-family: "TheJamsil3Bold";
}
