.searchPopupHeader {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  justify-content: space-evenly;
  border-bottom: solid 1px rgb(188, 185, 185);
}

.searchPopupTitle {
  font-size: 25px;
  font-family: "TheJamsil5Bold";
}

.searchPopupBody {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 50px;
}

.searchPopupDesc {
  display: flex;
  align-items: center;
}

.searchPopupDescInput {
  background: rgba(250, 249, 252, 1);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border: 1px solid rgba(131, 129, 129, 0.2);
  border-radius: 8px 0px 0px 8px;
  font-size: 15px;
  font-family: "TheJamsil5Bold";
  padding: 8px 12px;
  outline: none;
  width: 85vh;
  flex: 9;
}

.nickNamePopupDescInput:focus {
  border: none;
}
.searchPopupForm {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  overflow-y: scroll;
  /* justify-content: center; */
  margin-top: 3vh;
}
.searchPopupFind {
  display: flex;
  flex-direction: column;
  border: 1px solid rgba(131, 129, 129, 0.2);
  border-radius: 20px;
  background: rgb(255, 255, 255);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  width: 40vh;
  height: 15vh;
  margin-top: 3vh;
  margin-bottom: 2vh;
  margin-right: 2vh;
}

.searchButton {
  border: 1px solid rgba(131, 129, 129, 0.2);
  border-radius: 0px 8px 8px 0px;
  height: 100%;
  flex: 1;
  background: rgb(255, 255, 255);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  transition: all 250ms ease-in-out;
}

.searchButton:hover {
  color: white;
  background: #a581cf;
}

.searchLeft {
  display: flex;
  /* flex-direction: row;
  justify-content: center;
  align-items: flex-start; */
}
.profileImg {
  width: 9vh;
  height: 9vh;
  margin-left: 4vh;
  margin-top: 3vh;
  border-radius: 70%;
  border: 1px solid black;
}

.searchLeftItem {
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-left: 1vh;
}

.searchLeftNickname {
  margin-bottom: 5px;
  margin-top: 20px;
  font-size: 20px;
  text-align: left;
  margin-left: 18px;
  font-family: "TheJamsil5Bold";
  /* width: 23vh; */
}
.searchLeftHashTag {
  margin-bottom: 4px;
  /* margin-top: 20px; */
  font-size: 10px;
  margin-left: 17px;
  text-align: left;
  font-family: "TheJamsil5Bold";
  /* width: 25vh; */
}

.searchHashTagForm {
  display: flex;
  flex-direction: row;
}

.searchHashTagFormTag {
  display: flex;
  /* flex-direction: column; */
}
.searchHashTagContent {
  border: 3px #a581cf solid;
  border-radius: 8px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  width: 10vh;
  height: 4vh;
  margin-left: 1vh;
  margin-top: 2vh;
  color: #a581cf;
}

.searchHashTagInfo {
  text-align: center;
  font-family: "TheJamsil5Bold";
  font-size: 10px;

  margin-top: 5px;
}

.HashTagRe {
  border: 1px solid rgba(131, 129, 129, 0.2);
  background: rgb(255, 255, 255);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  transition: all 250ms ease-in-out;
  border-radius: 8px;
  width: 10vh;
  height: 4vh;
  margin-left: 1vh;
  margin-top: 14px;
}

.HashTagItem {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.searchHashTagContent:hover,
.HashTagRe:hover {
  color: white;
  background: #a581cf;
}
