.routinehistory {
  /*전체 detail*/
  /* box-shadow: 0 0 5px #333; */
  font-family: "TheJamsil5Bold";
  font-size: 0.7rem;
  border: 1px solid gray;
  border-radius: 1rem;
  width: 95%;
  height: auto;
  margin: 70px auto 20px auto;
  /* justify-content: center; */
  justify-items: center;
  align-items: center;
  padding: 30px;
}
.routinehistory_day {
  margin-top: 0px;
  font-size: 2rem;
  background-color: #a581cf;
  padding: 3px 10px 3px 10px;
  border-radius: 15px;
  color: white;
}
/* .routinehistory {
  /*루틴 인증*/
/* border: 4px solid #be1616; 
} */
/* .routinehistoryContent {
  /*루틴 이름
}*/
.routineHisotry_tt {
  font-size: 1.2rem;
}
.routinehistory_bottom {
  display: flex;
}
.routineHisotryp_img {
  /*이미지 크기*/
  width: 300px;
  height: auto;
  margin: 0px 10px 10px 10px;
}
.routinehistory_vline {
  border-left: 1px solid rgba(0, 0, 0, 0.5);
  height: auto;
  margin-right: 10px;
}
.routinehistory_text {
  width: 100vh;
  background-color: rgba(254, 250, 237, 1);
  border-radius: 50px;
}
.routinehistory_text_p {
  margin: 30px;
}
.routinehistory_p_content {
  /*내용 글자*/
  font-size: 1.5rem;
  border-bottom: #a581cf solid 3px;
}
.routinehistory_p_content_body {
  /*내용 실제 글자*/
  font-size: 1rem;
}
.routinehistory_nothing {
  /*아무것도 없을 때 */
  margin-top: 10px;
  font-size: 1rem;
}
