
@font-face {
  font-family: "TheJamsil5Bold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/TheJamsil5Bold.woff2")
    format("woff2");
  font-weight: 700;
  font-style: normal;
}

.nav {
  position: fixed;
  top: 0px;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  background: rgba(254, 250, 237, 1);
  padding-top: 10px;
  z-index: 10;
}

.navLeft {
  display: flex;
  flex: 5;
  justify-content: space-evenly;
  margin-bottom: 10px;
}

.navLeftLogo {
  width: 70px;
  height: 45px;
  margin-left: 20px;
  cursor: pointer;
}

.navMid {
  flex: 1;
}

.navRight {
  display: flex;
  flex: 4;
  justify-content: space-evenly;
  margin-bottom: 10px;
}

.navRightSearchbar {
  display: flex;
  align-items: center;
}

.navRightSearchbarInput {
  width: 150px;
  height: 25px;
  border-radius: 8px;
  border: 2px solid rgba(0, 0, 0, 0.4);
  background: rgba(255, 255, 255, 0);
  font-size: 12px;
  font-family: "TheJamsil5Bold";
  color: rgba(0, 0, 0, 0.8);
  outline: none;
}

.navLeftPersonal,
.navLeftGroup,
.navLeftProfile {
  color: rgba(0, 0, 0, 0.4);
  font-family: "TheJamsil5Bold";
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
  font-size: 15px;
  transition: all 300ms ease-in-out;
  padding: 20px 20px 15px 20px;
  border-radius: 12px 12px 5px 5px;
}

.navLeftPersonal:hover,
.navLeftGroup:hover,
.navLeftProfile:hover {
  color: black;
  background-color: #ffec8d;
  font-size: 18px;
}

.navRightLogout {
  color: rgba(0, 0, 0, 0.4);
  font-family: "TheJamsil5Bold";
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
  font-size: 15px;
  transition: all 300ms ease-in-out;
  padding: 10px 20px 10px 20px;
  border-radius: 25px 25px 0px 0px;
}

.navRightLogout:hover {
  color: black;
  font-size: 18px;
}