@font-face {
  font-family: "TheJamsil5Bold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/TheJamsil5Bold.woff2")
    format("woff2");
  font-weight: 700;
  font-style: normal;
}

@keyframes jumpAnimation {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}

.routineCardSection {
  width: 70%;
  margin: auto;
  font-family: "TheJamsil5Bold";
}

.divideLine {
  width: 70%;
  height: 3px;
  background-color: rgba(131, 129, 129, 0.2);
  margin: auto;
}

.toGroupBanner {
  width: 70%;
  height: 40vh;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  border-radius: 20px;
  display: flex;
  background: rgb(255, 255, 255);
  font-family: "TheJamsil5Bold";
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border: 1px solid rgba(131, 129, 129, 0.2);
}

.toGroupBannerLeft {
  flex: 6.5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-left: 50px;
}

.toGroupBannerLeftTitle {
  font-size: 25px;
}

.toGroupBannerLeftDesc {
  font-size: 20px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.toGroupBannerLeftBtn {
  font-family: "TheJamsil5Bold";
  font-size: 15px;
  width: 240px;
  height: 60px;
  padding: 16px 32px;
  border-radius: 4px;
  border: 2px solid #fff;
  background: #ffd24c;
  box-shadow: -4px 4px 0px 0px #ffd24c;
  color: #fff;
  transition: all 250ms ease-in;
}

.toGroupBannerLeftBtn:hover {
  cursor: pointer;
  color: black;
}

.toGroupBannerRight {
  flex: 3.5;
}

.toGroupBannerRightImg {
  width: 280px;
  animation: jumpAnimation 3s infinite;
}

/* Modal */

.authModal {
  display: flex;
  flex-direction: column;
  font-family: "TheJamsil5Bold";
  justify-content: center;
  align-items: center;
  width: 100%;
}

.modalClose {
  position: absolute;
  top: 30px;
  right: 30px;
  transition: all 250ms ease-in;
  width: 30px;
  height: 30px;
}

.modalClose:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.authModalTitle {
  flex: 1;
  font-size: 30px;
  margin: 20px 0px;
}

.authModalMain {
  width: 100%;
  flex: 7.5;
  display: flex;
}

.authModalMainLeft {
  flex: 5;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* margin-bottom: 20px; */
}

.authModalMainRight {
  flex: 5;
  font-size: 20px;
  display: flex;
  flex-direction: column;
}

.authModalMainRightText {
  flex: 6.2;
}

.authModalMainRightTextArea {
  width: 90%;
  height: 70%;
  resize: none;
  background: rgba(250, 249, 252, 1);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border: 1px solid rgba(131, 129, 129, 0.2);
  border-radius: 8px;
  font-size: 18px;
  font-family: "TheJamsil5Bold";
  padding: 10px;
  outline: none;
}

.authModalMainRightImg {
  flex: 2.2;
}

.authModalMainRightNone {
  flex: 1.6;
}

.authModalFooter {
  flex: 1.5;
}
.authModalBtn {
  font-family: "TheJamsil5Bold";
  font-size: 15px;
  width: 240px;
  height: 60px;
  padding: 16px 32px;
  border-radius: 4px;
  border: 2px solid #fff;
  background: #ffd24c;
  box-shadow: -4px 4px 0px 0px #ffd24c;
  color: #fff;

  transition: all 250ms ease-in;
}

.authModalBtn:hover {
  cursor: pointer;
  color: black;
}

.uploadName {
  display: inline-block;
  height: 30px;
  padding: 0 10px;
  vertical-align: middle;
  width: 70%;
  color: #999999;
  background: rgba(250, 249, 252, 1);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border: 1px solid rgba(131, 129, 129, 0.2);
  border-radius: 8px;
  outline: none;
  font-size: 15px;
}

.uploadLabel {
  display: inline-block;
  padding: 5px 12px;
  color: black;
  vertical-align: middle;
  cursor: pointer;
  height: 30px;
  margin-left: 10px;
  font-size: 15px;
  border-radius: 8px;
  background: rgba(250, 249, 252, 1);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border: 1px solid rgba(131, 129, 129, 0.2);
  transition: all 250ms ease-in;
}

.uploadLabel:hover {
  background-color: #a581cf;
  color: white;
}

input[type="file"] {
  position: absolute;
  width: 0;
  height: 0;
  padding: 0;
  overflow: hidden;
  border: 0;
}

.authModalMainLeftTitle {
  margin-bottom: 20px;
}

.authModalMainRightDescOne {
  margin-bottom: 20px;
}

.authModalMainRightDescTwo {
  margin: 30px 0px 20px 0px;
}
