@font-face {
  font-family: "TheJamsil5Bold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/TheJamsil5Bold.woff2")
    format("woff2");
  font-weight: 700;
  font-style: normal;
}

@keyframes YAnimation {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-2px); /* 이미지가 위로 20px 이동 */
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes XAnimation {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-2px); /* 이미지가 위로 20px 이동 */
  }
  100% {
    transform: translateX(0);
  }
}

.MyProfile {
  display: flex;
  height: 90vh;
  margin-top: 70px;
}

.UserProfile {
  flex: 2.8;
}

.UserProfileSection {
  width: 90%;
  height: 95%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: 10px;
  border: 1px solid black;
  border-radius: 12px;
}

.UserInfo {
  flex: 3;
}

.userInfoMenu {
  flex: 7;
}

.Profilecontent {
  flex: 7.2;
}
