@font-face {
  font-family: "TheJamsil5Bold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/TheJamsil5Bold.woff2")
    format("woff2");
  font-weight: 700;
  font-style: normal;
}

@keyframes YAnimation {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-2px); /* 이미지가 위로 20px 이동 */
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes XAnimation {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-2px); /* 이미지가 위로 20px 이동 */
  }
  100% {
    transform: translateX(0);
  }
}

@font-face {
  font-family: "TheJamsil4Bold";
  font-weight: 400;
  font-style: normal;
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/TheJamsil/TheJamsil-Regular.eot");
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/TheJamsil/TheJamsil-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/TheJamsil/TheJamsil-Regular.woff2")
      format("woff2"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/TheJamsil/TheJamsil-Regular.woff")
      format("woff"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/TheJamsil/TheJamsil-Regular.ttf")
      format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "TheJamsil3Bold";
  font-weight: 300;
  font-style: normal;
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/TheJamsil/TheJamsil-Light.eot");
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/TheJamsil/TheJamsil-Light.eot?#iefix")
      format("embedded-opentype"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/TheJamsil/TheJamsil-Light.woff2")
      format("woff2"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/TheJamsil/TheJamsil-Light.woff")
      format("woff"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/TheJamsil/TheJamsil-Light.ttf")
      format("truetype");
  font-display: swap;
}

.MyProfile {
  display: flex;
  height: 90vh;
  margin-top: 70px;
}

.UserProfile {
  flex: 3;
}

.UserProfileSection {
  width: 80%;
  height: 95%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0px 0px 0px 80px;
  margin-top: 10px;
  border: 1px solid black;
  border-radius: 12px;
  background: rgba(255, 255, 255, 1);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border: 1px solid rgba(131, 129, 129, 0.2);
  background: rgb(207, 193, 228);
  background: linear-gradient(
    180deg,
    rgba(207, 193, 228, 1) 0%,
    rgba(255, 255, 255, 1) 35%
  );
  position: relative;
}

.UserInfo {
  flex: 3.5;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.UserInformation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.ProfileImg {
  border-radius: 50%;
  width: 64px;
  height: 64px;
}

.ProfilenNickName {
  font-family: "TheJamsil4Bold";
  color: rgb(110, 122, 150);
}

.ProfileMsg {
  margin-top: 10px;
  margin-bottom: 0px;
  font-family: "TheJamsil3Bold";
  color: rgb(110, 122, 150);
}

.userInfoMenu {
  flex: 6.5;
}

.Profilecontent {
  flex: 7;
}

/* edit side */
.editForm {
  margin-top: 10px;
  width: 89%;
  height: 95%;
  border-radius: 15px;
  background: rgb(255, 255, 255);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  margin-left: 5vh;
  font-family: "TheJamsil5Bold";
  background: rgba(250, 249, 252, 1);
}

.editFormMain {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: auto;
}

.editFormHeader {
  flex: 1;
  display: flex;
  /* flex-direction: column; */
  width: 100%;
  justify-content: flex-start;
  margin-top: 20px;
}
.editFormTitle {
  font-size: 3vh;
}

.widgetBody {
  flex: 8;
  display: flex;
  flex-direction: row;
}
.widgetLeft {
  display: flex;
  flex: 4.5;

  flex-direction: column;
}

.widgetLeftTitle {
  font-family: "TheJamsil4Bold";
  font-size: 2vh;
}
.widgetRightTitle {
  font-family: "TheJamsil4Bold";
  font-size: 2vh;
}
.widgetLeftTitleItem {
}

.widgetLeftForm {
  border-radius: 12px;
  height: 49vh;
  border: 1px solid rgba(200, 200, 200, 5);
  margin-top: 1vh;
  padding: 2vh 4vh 2vh 4vh;
  background: rgba(250, 249, 252, 1);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border: 1px solid rgba(131, 129, 129, 0.2);
}
.widgetMid {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}

.widgetMidButtonForm {
  width: 8vh;
  height: 6vh;
  transition: all 250ms ease-in-out;
}

.widgetMidButtonForm:hover {
  cursor: pointer;
  transform: scale(1.2);
}
.widgetRight {
  display: flex;
  flex: 4.5;
  /* margin-left: 10vh; */
  flex-direction: column;
}
.widgetRightTopForm {
  border-radius: 12px;
  height: 49vh;
  border: 1px solid rgba(200, 200, 200, 5);
  margin-top: 1vh;
  padding: 2vh 4vh 2vh 4vh;
  background: rgba(250, 249, 252, 1);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border: 1px solid rgba(131, 129, 129, 0.2);
  font-family: "TheJamsil3Bold";
}

.widgetRightBody {
  font-size: 18px;
  margin-top: 2vh;
  margin-left: 1vh;
}
.widgetRightContent {
  font-size: 15px;
  margin-left: 4vh;
}

.widgetRightFormitem {
  display: flex;
  flex-direction: column;
}

.widgetRightFormButton {
  text-align: start;
  border: none;
  background: none;
  margin-top: 0.9vh;
  margin-bottom: 0.9vh;
  background-color: transparent;
  font-family: "TheJamsil3Bold";
  padding: 8px 12px;
  transition: all 250ms ease-in-out;
  font-size: 13.3px !important;
}

.widgetRightItem {
  text-align: start;
  border: none;
  background: none;
  margin-top: 0.9vh;
  margin-bottom: 0.9vh;
  background-color: transparent;
  font-family: "TheJamsil3Bold";
  padding: 8px 12px;
  transition: all 250ms ease-in-out;
  display: flex;
  justify-content: space-between;
  font-size: 13.3px !important;
  align-items: center;
}

.widgetRightItemFlag {
  /* animation */
  font-size: 13.3px !important;
  animation: XAnimation 0.15s infinite;
}

.widgetRightButton {
  width: 15px;
  height: 15px;
  transition: all 250ms ease-in-out;
}
.widgetRightButton:hover {
  cursor: pointer;
  transform: scale(1.3);
  color: #d9534f;
}

.widgetLeftFormItem {
  /* font-size: 2vh; */
  display: flex;
  flex-direction: column;
}

.widgetLeftFormButton {
  text-align: start;
  border: none;
  background: none;
  margin-top: 0.9vh;
  margin-bottom: 0.9vh;
  background-color: transparent;
  font-family: "TheJamsil3Bold";
  padding: 8px 12px;
  transition: all 250ms ease-in-out;
  font-size: 13.3px !important;
}

.widgetLeftFormButton:hover {
  background-color: #a581cfc3;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}

.selectedButton {
  /* Styling for selected buttons */
  background-color: #a581cfc3;
  color: #fff;
  border-radius: 5px;
}

.widgetFooter {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 30px;
}
.widgetFooterButton {
  width: 11vh;
  height: 5vh;
  margin-left: 1vh;
  border-radius: 8px;
  font-family: "TheJamsil4Bold";
  transition: all 250ms ease-in-out;
  background: rgba(250, 249, 252, 1);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border: 1px solid rgba(131, 129, 129, 0.851);
}

.widgetFooterButton:hover {
  color: white;
  background: #a581cfc3;
  cursor: pointer;
}

.profile_unregist_btn {
  position: absolute;
  top: 10px;
  left: 10px;
  border: none;
  background-color: rgb(192, 192, 192, 0);
  font-family: "TheJamsil5Bold";
  color: rgb(170, 170, 170);
  transition: all 250ms ease-in-out;
}

.profile_unregist_btn:hover {
  color: #d9534f;
  cursor: pointer;
}
