@font-face {
  font-family: "TheJamsil5Bold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/TheJamsil5Bold.woff2")
    format("woff2");
  font-weight: 700;
  font-style: normal;
}

.MyProfile {
  font-family: "TheJamsil5Bold";
  font-size: 0.7rem;
  border: 1px solid black;
  width: 90%;
  height: 75vh;
  margin: 170px auto 0 auto;
  display: flex;
  /* justify-content: center; */
  justify-items: center;
  align-items: center;
}

.UserProfile {
  font-family: "TheJamsil5Bold";
  /* width: 40%; */
  width: 20rem;
  margin: 2rem;
  background-color: bisque;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  /* margin-top: 170px; */
}

.ProfileImg {
  width: 10rem;
  height: 10rem;
  display: flex;
  margin: 0 auto;
}

.ProfilenNickName {
  font-family: "TheJamsil5Bold";
  font-size: 2rem;
}

.UserFollow {
  font-family: "TheJamsil5Bold";
  font-size: 0.7rem;
  margin: 2rem;
  height: 100%;
  text-align: center;
}

.UserProfileMenu {
  font-family: "TheJamsil5Bold";
  margin: 2rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* justify-items: center; */
}

.Profilecontent {
  font-family: "TheJamsil5Bold";
  width: 70%;
  margin: 2rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
}
